.container{
    height: 1000px;
    width: 100%;
}
.head-image-area{
    display: flex;
    height: 640px;
    width: 100%;
    background-image: url(../Images/autumn-8416137_640.png);
    background-size: auto;
    background-repeat: repeat-x;
    background-position: center;
    align-items: end;/* 수직정렬 */
    justify-content: center;/* 수평정렬 */
}
.head-image-area-bottom-message p{
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0;
}
.head-image-area-bottom-message img{
    height: 60px;
    animation-name: blink_pic;
    animation-duration: 0.5s;
    animation-delay: 0ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.head-image-area-bottom-message{
    display: flex;
    height: 640px;
    align-items: flex-end;
    justify-content: center;
}
@keyframes blink_pic{
    from {
        height: 60px;
        opacity: 0.5;
    }
    to {
        height: 120px;
        opacity: 1;
    }
}
.menu__bar{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: black;
    position: sticky;/* 구현 못함 */
    top: 0;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 40px;
    font-weight: 800;
    left: 30px;
}


.menu__bar__menu li{
    list-style-type: none;
    display: inline-block;
    color: white;
    margin-right: 20px;
}
.hamburger{
    all: unset;
    display: none;
    width: 50px;
    height: 50px;
    background-image: url("../Images/icons8-cookie-64.png");
    background-size: contain;
    background-position: center;
}
#hamburger-check-label{
    display: none;
}
.submenu{
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    list-style-type: none;
    color: white;
    background-color:black;
    padding: 0;
    margin: 0 0 0 auto;
}
.submenu li{
    border-top: 1px solid dimgray;
}
#hamburger:checked + .submenu {
    display: block; /* checkbox가 체크되면 하위 메뉴를 보여줍니다. 구현못함 */
  }

@media screen and (max-width: 768px){
    .hamburger{
        display: block;
    }
    .submenu{
        display: flex;
    }
    .menu__bar__menu li{
        display: none;
    }
}
.container__main{
    width: 100%;
    display: block;
}
.main__list{
    list-style-type: none;
    text-align: center;
}
.about{
    margin-top: 100px;
    color: blueviolet;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OZ__name{
    margin-top: 100px;
    color: blueviolet;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#point__area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.points{
    display: initial;
    margin-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.point__card{
    display: inline-flex;
    height: 200px;
    width: 200px;
}
.points div img{
    width: 200px;
    height: 400px;
    background-color: violet;    
}