html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#user{
    position: relative;
    color: aliceblue;
    font-size: 20px;
}



@media screen and (max-width: 480px) {/*개발자 도구에서만 보임.*/
    .background{
        background-color: darkgreen;
    }
    #user::before{
        content: "당신은 SD해상도 이하 ";
    }
    #user::after{
        content: "\A 화면이 너무 작으면 눈에 안좋아요.";
        white-space: pre-line;
    }
}
@media screen and (min-width: 480px) {
    .background{
        background-color: darkgreen;
    }
    #user::before{
        content: "당신은 HD해상도 이하 ";
    }
    #user::after{
        content: "\A 화면이 너무 작으면 눈에 안좋아요.";
        white-space: pre-line;
    }
}
@media screen and (min-width: 720px) {
    .background{
        background-color: chocolate;
    }
    #user::before{
        content: "당신은 HD해상도 ";
    }
    #user::after{
        content: "\A HD도 좋은 화질이에요.";
        white-space: pre-line;
    }
}
@media screen and (min-width: 1080px) {
    .background{
        background-color: brown;
    }
    #user::before{
        content: "당신은 FHD해상도 ";
    }
    #user::after{
        content: "\A FHD는 더 좋은 화질이에요.";
        white-space: pre-line;
    }
}
@media screen and (min-width: 2160px) {
    .background{
        background-color: olive;
    }
    #user::before{
        content: "당신은 UHD해상도 ";
    }
    #user::after{
        content: "\A UHD. 이정도만 있어도 책상에선 최고죠.";
        white-space: pre-line;
    }
}
@media screen and (min-width: 4320px) {
    .background{
        background-color: green;
    }
    #user::before{
        content: "당신은 8K해상도 ";
    }
    #user::after{
        content: "\A 이걸 봤다고?! 부럽다. \A 전 이 해상도가 없어요. ㅠㅜ";
        white-space: pre-line;
    }
}