ETC/
Study/Test/
Study/Flask_Project/.venv
Study/Flask_Project/__pycache__
Study/Flask_Project/requirements.txt
Study/Django-backend/poetry.lock
Study/Django-backend/pyproject.toml
.vscode/
Study/Django-Machine-Learning/.venv
.idea/