.notice{
    max-width: 65rem;
    margin: auto;   
}
.notice__title{
    font-size: 1.625rem;
    margin: 1.75rem 0 2.5rem;
    line-height: 1.5;
}
.notice__container{
    justify-content: space-between;
    flex-wrap: wrap; /* 플랙스 아이템이 여러줄로 배치 가능하도록 1040px까지 두 줄로*/
}
.notice__item{
    padding: 1rem 0;
    flex-basis: 45%;
}
.notice__thumb{
    min-width: 3.75rem;
    min-height: 3.75rem;
    background-color: coral;
}
.notice__content{
    margin-left: 1rem;
}
.notice__content__title{
    line-height: 1.32;
    font-size: .9rem;
}
.notice__content__address{
    line-height: 1.4;
    font-size: 0.675rem;
    color: dimgray;
}
.notice__content__pay{
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .notice{
        padding: 0 1rem 1.25rem;
    }
    .notice__title{
        font-weight: 800;
        line-height: 1.3;
        font-size: 1.25rem;
        margin: 2.5rem 0 1.5rem;
    }
    .notice__container{
        display: block;
    }
    
}